
<div ng-init="ctrlShareSurvey.init()"></div>

<div class="row" style="margin-top: 100px;">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-6" style="text-align: center;">
                <img style="max-width: 100%; border-radius: 10px;" src="../../img/space/response_survey.png">
            </div>
            <div class="col-lg-6" style="text-align: left; margin: auto; background-color: #F4F5F4; border-radius: 10px;">
                <h1 style="margin-top: 20px; margin-bottom: 25px;">¡Comparte tu enlace!</h1>
                <span style="font-size: 13pt;">Compartir el enlace personalizado de tu evaluación ayuda a saber en qué áreas se pueden mejorar.</span>
                <br>
                <button style="margin-top: 10px; margin-bottom: 20px;" type="button" class="btn btn-dark" ng-click="ctrlShareSurvey.save();">COMPARTIR ENLACE DE EVALUACIÓN</button>
            </div>
        </div>
    </div>
</div>
